/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Header */
h1 {
    text-align: center;
    color: #333;
}

/* Form styles */
form {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 12px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #edbac7;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #4a90e2;
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

/* Button styles */
button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ab8;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Search input */
input[placeholder="Search by First Name"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);  /* Adjust width for the container */
}
/* calendar style*/
.rbc-calendar {
  background-color: #FBF8EF;
}

.rbc-event {
  background-color: #FFDDAE;
  color: white;
  border-radius: 4px;
}

.rbc-toolbar button {
  background-color: #b5d9f2;
  color: white;
}
.rbc-today{
     background-color:#e0f3f8;
}
.rbc-agenda{
    background-color: #b5d9f2;
}
.lunch-slot {
  background-color: rgba(255, 0, 0, 0.2) !important;
}
.slot-weekend {
  background-color: #d3d3d3; /* light gray for weekends */
}
.slot-night {
  background-color: #233462; /* dark color for nights */
}
.slot-lunch {
  background-color: #ffcc66; /* yellow for lunch */
}
/* Responsive Design */
@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    button {
        width: 100%;
    }

    input[type="text"],
    input[type="number"] {
        width: 100%;
    }
}